In [27]:
import joblib
import pandas as pd
from RainPredictionMachine.Trainer import *

In [28]:
model = joblib.load('../RainPredictionMachine/OURINHOS.joblib')

In [62]:
from RainPredictionMachine.data import CleanDataRpm
cleaner = CleanDataRpm()
df = cleaner.clean_data(18, gcp=False)
X_train, y_train, X_test, y_test = split_train_test(df, 6000,72)

In [63]:
cleaner.cidades

['BARRETOS',
 'BARUERI',
 'BAURU',
 'BEBEDOURO',
 'BERTIOGA',
 'BRAGANCA PAULISTA',
 'CACHOEIRA PAULISTA',
 'CAMPOS DO JORDAO',
 'CASA BRANCA',
 'DRACENA',
 'FRANCA',
 'IGUAPE',
 'ITAPEVA',
 'ITAPIRA',
 'ITATIAIA',
 'ITUVERAVA',
 'LINS',
 'MARILIA',
 'OURINHOS',
 'PARATI',
 'PIRACICABA',
 'PRADOPOLIS',
 'PRESIDENTE PRUDENTE',
 'RANCHARIA',
 'SAO CARLOS',
 'SAO LUIS DO PARAITINGA',
 'SAO MIGUEL ARCANJO',
 'SAO PAULO - INTERLAGOS',
 'SAO PAULO - MIRANTE',
 'SAO SEBASTIAO',
 'SAO SIMAO',
 'SOROCABA',
 'TAUBATE',
 'TUPA',
 'VALPARAISO',
 'VOTUPORANGA']

In [64]:
y_pred = model.predict(X_test)
y_pred

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.17327076, 0.14730662,
        0.02215958],
       [0.        , 0.        , 0.        , ..., 0.16041154, 0.02173376,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08611971, ..., 0.        , 0.        ,
        0.        ]], dtype=float32)

In [65]:
model.evaluate(X_test,y_test)

188/188 [==============================] - 6s 29ms/step - loss: 3.3431e-04 - mae: 0.0111 - mse: 3.3431e-04 - mape: 887337.5625

[0.0003343112184666097,
 0.011115492321550846,
 0.0003343112184666097,
 887337.5625]

In [66]:
df_y_pred = pd.DataFrame(y_pred).T

In [67]:
df_y_test = pd.DataFrame(y_test).T

In [68]:
def classe_chuva(precipitacao):
    mm=precipitacao
    if np.isnan(mm):
        chuva = "NaN"
    if mm == 0:
        chuva = 0 #'nao chove'
    elif mm >0 and mm <=5.0:
        chuva = 1 #'fraca'
    elif mm >5.0 and mm<=25.0:
        chuva = 2 #'moderada'
    else:
        chuva = 3 #'forte'
    return chuva

In [69]:
df_y_test_categorical = df_y_test.applymap(classe_chuva)
df_y_test_categorical.T.value_counts()

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
1  1  1  0  0  0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     283
         1  1  1  1  1  1  1  1   0   0   0   0   0   0   0   0   0   0   0   1   1     271
0  0  1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     270
1  1  1  1  1  1  1  1  1  1  1   1   1   0   0   0   0   0   0   0   0   0   0   0     267
            0  0  0  0  0  0  0   0   0   0   0   1   1   1   1   1   1   1   1   1     262
      0  0  0  0  0  0  0  0  0   0   0   1   1   1   1   1   1   1   1   1   1   1     262
0  0  0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     261
            1  1  1  1  1  1  1   1   1   1   1   1   1   0   0   0   0   0   0   0     258
1  1  1  1  1  1  1  1  1  1  0   0   0   0   0   0   0   0   0   0   0   1   1   1     255
                           0  0   0   0   0   0   0   0   0   0   0   1   1   1   1     255
0  0  0  1  1  1  1  1  1  1  1   1   1   1   1   1   0   0   0   0   0   0   0   0     254
         0  0  0  1  1  1  1  1   1   1   1   1   1   1   1   1   0   0   0   0   0     251
1  1  1  1  1  1  1  0  0  0  0   0   0   0   0   0   0   0   1   1   1   1   1   1     248
                     1  0  0  0   0   0   0   0   0   0   0   0   1   1   1   1   1     247
0  0  0  0  0  1  1  1  1  1  1   1   1   1   1   1   1   1   0   0   0   0   0   0     247
1  1  1  1  1  1  0  0  0  0  0   0   0   0   0   0   0   1   1   1   1   1   1   1     246
0  0  0  0  0  0  0  0  1  1  1   1   1   1   1   1   1   1   1   1   1   0   0   0     244
1  1  1  1  1  1  1  1  1  1  1   1   0   0   0   0   0   0   0   0   0   0   0   1     243
   0  0  0  0  0  0  0  0  0  0   0   1   1   1   1   1   1   1   1   1   1   1   1     235
0  1  1  1  1  1  1  1  1  1  1   1   1   1   0   0   0   0   0   0   0   0   0   0     234
   0  0  0  0  0  0  0  0  0  1   1   1   1   1   1   1   1   1   1   1   1   1   0     231
                           1  1   1   1   1   1   1   1   1   1   1   1   1   0   0     231
                     1  1  1  1   1   1   1   1   1   1   1   1   1   0   0   0   0     227
1  1  1  1  1  0  0  0  0  0  0   0   0   0   0   0   1   1   1   1   1   1   1   1     218
dtype: int64

In [70]:
df_y_pred_categorical = df_y_pred.applymap(classe_chuva)
df_y_pred_categorical.T.value_counts()

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
1  1  1  1  1  1  1  1  1  0  0   0   0   0   0   0   0   0   0   1   1   1   1   1     502
            0  0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     283
            1  1  1  1  1  1  1   0   0   0   0   0   0   0   0   0   0   1   1   1     271
0  0  1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     270
1  1  1  1  1  1  1  1  1  1  1   1   1   0   0   0   0   0   0   0   0   0   0   0     267
               0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     262
         0  0  0  0  0  0  0  0   0   1   1   1   1   1   1   1   1   1   1   1   1     262
   0  0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     261
0  0  0  1  1  1  1  1  1  1  1   1   1   1   1   1   1   0   0   0   0   0   0   0     258
1  1  1  1  1  1  1  1  1  1  0   0   0   0   0   0   0   0   0   0   1   1   1   1     255
0  0  1  1  1  1  1  1  1  1  1   1   1   1   1   1   0   0   0   0   0   0   0   0     254
      0  0  0  1  1  1  1  1  1   1   1   1   1   1   1   1   1   0   0   0   0   0     251
1  1  1  1  1  1  1  1  0  0  0   0   0   0   0   0   0   0   1   1   1   1   1   1     248
0  0  0  0  1  1  1  1  1  1  1   1   1   1   1   1   1   1   0   0   0   0   0   0     247
1  1  1  1  1  1  1  0  0  0  0   0   0   0   0   0   1   1   1   1   1   1   1   1     246
0  0  0  0  0  0  0  1  1  1  1   1   1   1   1   1   1   1   1   1   1   1   0   0     244
1  1  1  1  1  1  1  1  1  1  1   1   1   0   0   0   0   0   0   0   0   1   0   1     243
      0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     235
0  1  1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     234
   0  0  0  0  0  0  0  0  1  1   1   1   1   1   1   1   1   1   1   1   1   1   0     231
                           0  1   1   1   1   1   1   1   1   1   1   1   1   1   1     231
                     1  1  1  1   1   1   1   1   1   1   1   1   1   1   0   0   0     227
1  1  1  1  1  1  0  0  0  0  0   0   0   0   0   1   1   1   1   1   1   1   1   1     218
dtype: int64

In [71]:
(df_y_test_categorical == df_y_pred_categorical).sum()

0       23
1       23
2       23
3       22
4       22
        ..
5995    22
5996    22
5997    23
5998    23
5999    24
Length: 6000, dtype: int64

In [72]:
(df_y_test_categorical == df_y_pred_categorical).sum().sum()/(6000*24) #accuracy

0.9501875

In [73]:
df_y_test_categorical

,0,1,2,3,4,5,6,7,8,9,...,5990,5991,5992,5993,5994,5995,5996,5997,5998,5999
0,0,0,0,0,1,0,1,0,1,1,...,1,1,1,0,0,1,1,0,0,0
1,0,0,0,0,1,0,1,0,0,1,...,1,1,0,0,0,1,1,0,0,0
2,0,0,0,0,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
3,0,0,0,0,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
4,0,0,0,0,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
5,0,0,0,0,1,1,1,0,0,1,...,0,1,0,0,0,0,1,0,0,1
6,0,0,0,0,1,1,1,0,0,1,...,0,1,0,0,1,0,0,0,0,1
7,1,0,0,0,1,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,1
8,1,0,0,1,1,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,1
9,1,0,1,1,1,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,1
10,1,1,1,1,1,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,1
11,1,1,1,1,1,1,0,1,0,0,...,0,0,0,1,1,0,0,1,1,1
12,1,1,1,1,0,1,0,1,1,0,...,0,0,1,1,1,0,0,1,1,1
13,1,1,1,1,0,1,0,1,1,0,...,1,0,1,1,1,0,0,1,1,1
14,1,1,1,1,0,1,0,1,1,0,...,1,0,1,1,1,0,0,1,1,1
15,1,1,1,1,0,0,0,1,1,0,...,1,0,1,1,1,0,0,1,1,0
16,1,1,1,1,0,0,0,1,1,0,...,1,0,1,1,1,1,0,1,1,0
17,1,1,1,1,0,0,0,1,1,0,...,1,0,1,1,1,1,1,1,1,0
18,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,0
19,1,1,1,1,0,0,0,1,1,1,...,1,1,1,1,0,1,1,1,1,0
20,0,1,1,1,0,0,0,0,1,1,...,1,1,1,0,0,1,1,0,0,0
21,0,1,1,0,0,0,0,0,1,1,...,1,1,1,0,0,1,1,0,0,0
22,0,1,0,0,0,0,1,0,1,1,...,1,1,1,0,0,1,1,0,0,0
23,0,0,0,0,1,0,1,0,1,1,...,1,1,1,0,0,1,1,0,0,0

In [74]:
(df_y_test_categorical == df_y_pred_categorical).sum(axis=1)/6000

0     0.956500
1     0.960833
2     0.914000
3     0.909833
4     0.915167
5     0.921833
6     0.959000
7     0.918000
8     0.958833
9     1.000000
10    1.000000
11    0.960833
12    0.915833
13    1.000000
14    0.917333
15    0.963667
16    0.959000
17    1.000000
18    1.000000
19    0.957500
20    0.919667
21    0.873667
22    0.961500
23    0.961500
dtype: float64

In [75]:
df

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,...,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude,datahora,classe_chuva
0,0.000000,965.500000,965.500000,964.200000,0.000000,27.500000,17.300000,28.100000,27.50000,18.100000,...,51.000000,54.000000,357.000000,1.500000,0.000000,-22.949,-49.894546,443.49,2020-01-01 00:00:00+00:00,0
1,0.000000,966.100000,966.200000,965.500000,0.000000,25.700000,19.000000,27.500000,25.70000,19.100000,...,54.000000,67.000000,50.000000,2.700000,0.700000,-22.949,-49.894546,443.49,2020-01-01 01:00:00+00:00,0
2,0.000000,966.400000,966.400000,966.100000,0.000000,24.600000,19.800000,25.700000,24.60000,20.000000,...,67.000000,75.000000,13.000000,2.700000,0.000000,-22.949,-49.894546,443.49,2020-01-01 02:00:00+00:00,0
3,0.000000,966.100000,966.500000,966.100000,0.000000,23.500000,19.500000,24.600000,23.40000,19.900000,...,75.000000,78.000000,67.000000,0.900000,0.000000,-22.949,-49.894546,443.49,2020-01-01 03:00:00+00:00,0
4,0.000000,966.000000,966.200000,966.000000,0.000000,23.200000,19.900000,23.500000,22.90000,19.900000,...,78.000000,81.000000,23.000000,0.000000,0.000000,-22.949,-49.894546,443.49,2020-01-01 04:00:00+00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 19:00:00+00:00,1
8780,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 20:00:00+00:00,1
8781,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 21:00:00+00:00,1
8782,0.000000,965.800000,965.850000,964.850000,0.000000,26.600000,18.150000,27.800000,26.60000,18.600000,...,52.500000,60.500000,203.500000,2.100000,0.350000,-22.949,-49.894546,443.49,2020-12-31 22:00:00+00:00,0
8783,0.000000,965.800000,965.850000,964.850000,0.000000,26.600000,18.150000,27.800000,26.60000,18.600000,...,52.500000,60.500000,203.500000,2.100000,0.350000,-22.949,-49.894546,443.49,2020-12-31 23:00:00+00:00,0