In [1]:
import requests
import pandas as pd

In [48]:
datainicial = '2022-03-21'
datafinal = '2022-03-24'
codigoestacao = 'A764'

url = f'https://apitempo.inmet.gov.br/estacao/{datainicial}/{datafinal}/{codigoestacao}'

response = requests.get(url).json()

In [49]:
len(response)

96

In [50]:
response[0]

{'DC_NOME': 'BEBEDOURO',
 'PRE_INS': '945.8',
 'TEM_SEN': '20.8',
 'VL_LATITUDE': '-20.94916666',
 'PRE_MAX': '945.8',
 'UF': 'SP',
 'RAD_GLO': '-3.563',
 'PTO_INS': '18.5',
 'TEM_MIN': '23.8',
 'VL_LONGITUDE': '-48.48999999',
 'UMD_MIN': '69',
 'PTO_MAX': '19.1',
 'VEN_DIR': '150',
 'DT_MEDICAO': '2022-03-21',
 'CHUVA': '0',
 'PRE_MIN': '945',
 'UMD_MAX': '72',
 'VEN_VEL': '4',
 'PTO_MIN': '18.5',
 'TEM_MAX': '25',
 'VEN_RAJ': '10.8',
 'TEM_INS': '23.8',
 'UMD_INS': '72',
 'CD_ESTACAO': 'A764',
 'HR_MEDICAO': '0000'}

In [51]:
df = pd.DataFrame(response)
df.head()

,DC_NOME,PRE_INS,TEM_SEN,VL_LATITUDE,PRE_MAX,UF,RAD_GLO,PTO_INS,TEM_MIN,VL_LONGITUDE,...,PRE_MIN,UMD_MAX,VEN_VEL,PTO_MIN,TEM_MAX,VEN_RAJ,TEM_INS,UMD_INS,CD_ESTACAO,HR_MEDICAO
0,BEBEDOURO,945.8,20.8,-20.94916666,945.8,SP,-3.563,18.5,23.8,-48.48999999,...,945,72,4,18.5,25,10.8,23.8,72,A764,0000
1,BEBEDOURO,946.1,19,-20.94916666,946.1,SP,-3.586,17.9,23,-48.48999999,...,945.8,74,4.6,17.9,23.8,9.9,23,73,A764,0100
2,BEBEDOURO,946.2,17.6,-20.94916666,946.2,SP,-3.175,17.4,22.4,-48.48999999,...,946,73,5.1,17.3,23,12.3,22.4,73,A764,0200
3,BEBEDOURO,946.8,17.7,-20.94916666,946.8,SP,-3.566,17.4,21.3,-48.48999999,...,946.2,78,4,17.3,22.4,11.3,21.3,78,A764,0300
4,BEBEDOURO,946.4,15.7,-20.94916666,946.8,SP,-3.6,17.1,20.8,-48.48999999,...,946.4,80,5,17.1,21.3,10.4,20.8,80,A764,0400

In [52]:
df.drop(columns=['DC_NOME', 'UF', 'HR_MEDICAO', 'CD_ESTACAO', 'DT_MEDICAO', 'TEM_SEN'], inplace=True)

In [53]:
df.dropna(inplace=True)

In [54]:
df = df.iloc[-48:].reset_index(drop=True)

In [55]:
df.columns

Index(['PRE_INS', 'VL_LATITUDE', 'PRE_MAX', 'RAD_GLO', 'PTO_INS', 'TEM_MIN',
       'VL_LONGITUDE', 'UMD_MIN', 'PTO_MAX', 'VEN_DIR', 'CHUVA', 'PRE_MIN',
       'UMD_MAX', 'VEN_VEL', 'PTO_MIN', 'TEM_MAX', 'VEN_RAJ', 'TEM_INS',
       'UMD_INS'],
      dtype='object')

In [56]:
df = df[['CHUVA', 'PRE_INS', 'PRE_MAX', 'PRE_MIN', 'RAD_GLO', 'TEM_INS', 'PTO_INS', 'TEM_MAX', 'TEM_MIN', 'PTO_MAX', 'PTO_MIN', 'UMD_MAX', 'UMD_MIN', 'UMD_INS', 'VEN_DIR', 'VEN_RAJ', 'VEN_VEL', 'VL_LATITUDE', 'VL_LONGITUDE']].head()

In [57]:
df.columns

Index(['CHUVA', 'PRE_INS', 'PRE_MAX', 'PRE_MIN', 'RAD_GLO', 'TEM_INS',
       'PTO_INS', 'TEM_MAX', 'TEM_MIN', 'PTO_MAX', 'PTO_MIN', 'UMD_MAX',
       'UMD_MIN', 'UMD_INS', 'VEN_DIR', 'VEN_RAJ', 'VEN_VEL', 'VL_LATITUDE',
       'VL_LONGITUDE'],
      dtype='object')

In [12]:
new_index = ['Chuva', 'Pres', 'Pres_max', 'Pres_min', 'Radiacao', 'Temp', 'Temp_orvalho', 'Temp_max', 'Temp_min', 'Temp_orvalho_max', 'Temp_orvalho_min', 'Umid_max', 'Umid_min', 'Umid', 'Dir_vento', 'Rajada_vento', 'Vel_vento', 'Latitude', 'Longitude']

In [58]:
df= df.rename(columns={'CHUVA': 'Chuva',
                                    'PRE_INS': 'Pres',
                                    'PRE_MAX': 'Pres_max',
                                    'PRE_MIN': 'Pres_min',
                                    'RAD_GLO': 'Radiacao',
                                    'TEM_INS': 'Temp',
                                    'PTO_INS': 'Temp_orvalho',
                                    'TEM_MAX': 'Temp_max',
                                    'TEM_MIN': 'Temp_min',
                                    'PTO_MAX': 'Temp_orvalho_max',
                                    'PTO_MIN': 'Temp_orvalho_min',
                                    'UMD_MAX': 'Umid_max',
                                    'UMD_MIN': 'Umid_min',
                                    'UMD_INS': 'Umid',
                                    'VEN_DIR': 'Dir_vento',
                                    'VEN_RAJ': 'Rajada_vento',
                                    'VEN_VEL': 'Vel_vento',
                                    'VL_LATITUDE': 'Latitude',
                                    'VL_LONGITUDE': 'Longitude'})

In [59]:
df.head()

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,Temp_orvalho_min,Umid_max,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude
0,0,945.6,945.6,945.2,-3.595,25.4,17.5,25.9,25.4,17.8,17.5,63,60,62,142,3.2,1.5,-20.94916666,-48.48999999
1,0,946.1,946.1,945.6,-3.6,25.4,16.9,25.5,25.1,17.6,16.9,63,59,59,123,3.9,1.6,-20.94916666,-48.48999999
2,0,946.1,946.2,945.9,-3.593,24.2,16.8,25.4,24.2,17,16.8,63,59,63,104,5.4,1.1,-20.94916666,-48.48999999
3,0,946,946.2,945.9,-3.399,24.1,16.8,24.4,24,16.9,16.7,64,62,64,119,3.5,1.4,-20.94916666,-48.48999999
4,0,946,946.1,946,-3.35,23.6,17.1,24.1,23.6,17.3,16.6,68,63,67,147,4,1.3,-20.94916666,-48.48999999

In [90]:
read_csv_to_api = pd.read_csv('/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/info_to_api.csv')

In [111]:
read_csv_to_api

                   Estacao  Altitude CodigoEstacao
0   SAO PAULO - INTERLAGOS    771.00          A771
1                RANCHARIA    398.75          A718
2                BEBEDOURO    790.00          A764
3       SAO MIGUEL ARCANJO    675.68          A715
4                 ITATIAIA   2450.00          A635
5      SAO PAULO - MIRANTE    785.64          A701
6                   IGUAPE      2.70          A712
7                 BERTIOGA      5.00          A765
8                  TAUBATE    582.26          A728
9                   PARATI      3.00          A619
10              PRADOPOLIS    540.41          A747
11                OURINHOS    443.49          A716
12                 ITAPIRA    634.89          A739
13                    TUPA    498.00          A768
14        CAMPOS DO JORDAO   1662.95          A706
15                   BAURU    636.17          A705
16     PRESIDENTE PRUDENTE    431.92          A707
17               ITUVERAVA    610.58          A753
18                SOROCABA    609.33          A713
19                 BARUERI    776.50          A755
20                 ITAPIRA    634.89          A739
21                 TAUBATE    582.26          A728
22                  FRANCA   1002.74          A708
23  SAO LUIS DO PARAITINGA    862.30          A740
24               RANCHARIA    398.75          A718
25      CACHOEIRA PAULISTA    586.00          A769
26                 ITAPEVA    743.33          A714
27              VALPARAISO    381.90          A734
28                ITATIAIA   2450.00          A635
29                    LINS    460.65          A727
30                 DRACENA    720.00          A762
31              SAO CARLOS    859.29          A711
32       BRAGANCA PAULISTA    891.00          A744
33                 DRACENA    720.00          A762
34             VOTUPORANGA    510.37          A729
35                 MARILIA    660.00          A763
36             CASA BRANCA    734.15          A738
37             VOTUPORANGA    510.37          A729
38                BARRETOS    534.36          A748
39               SAO SIMAO    620.00          A770
40                  IGUAPE      2.70          A712
41           SAO SEBASTIAO     24.00          A767
42                SOROCABA    609.33          A713
43              PIRACICABA    566.46          A726

In [107]:
alti = read_csv_to_api[read_csv_to_api['CodigoEstacao'] == codigoestacao]['Altitude'].values[0]

In [108]:
alti

790.0

In [109]:
df['Altitude'] = alti

In [110]:
df

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,Temp_orvalho_min,Umid_max,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude
0,0,945.6,945.6,945.2,-3.595,25.4,17.5,25.9,25.4,17.8,17.5,63,60,62,142,3.2,1.5,-20.94916666,-48.48999999,790.0
1,0,946.1,946.1,945.6,-3.6,25.4,16.9,25.5,25.1,17.6,16.9,63,59,59,123,3.9,1.6,-20.94916666,-48.48999999,790.0
2,0,946.1,946.2,945.9,-3.593,24.2,16.8,25.4,24.2,17,16.8,63,59,63,104,5.4,1.1,-20.94916666,-48.48999999,790.0
3,0,946,946.2,945.9,-3.399,24.1,16.8,24.4,24,16.9,16.7,64,62,64,119,3.5,1.4,-20.94916666,-48.48999999,790.0
4,0,946,946.1,946,-3.35,23.6,17.1,24.1,23.6,17.3,16.6,68,63,67,147,4,1.3,-20.94916666,-48.48999999,790.0

In [20]:
from RainPredictionMachine.data import CleanDataRpm

getdata = CleanDataRpm()

df_csv = getdata.clean_data(0)

In [23]:
df_csv.head()

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,...,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude,datahora,classe_chuva
0,0.0,953.7,953.7,952.5,0.0,23.2,23.10,23.7,23.0,23.1,...,87.0,99.0,291.0,4.7,0.8,-20.559167,-48.545,534.36,2021-01-01 00:00:00+00:00,nao chove
1,0.0,954.6,954.6,953.6,0.0,23.4,19.60,24.0,23.2,23.3,...,79.0,79.0,180.0,3.9,1.0,-20.559167,-48.545,534.36,2021-01-01 01:00:00+00:00,nao chove
2,0.0,954.3,954.7,954.3,0.0,21.3,19.30,23.4,21.3,19.8,...,79.0,89.0,33.0,3.6,0.4,-20.559167,-48.545,534.36,2021-01-01 02:00:00+00:00,nao chove
3,0.0,953.7,954.3,953.7,0.0,20.8,18.80,21.3,20.8,20.2,...,88.0,88.0,96.0,2.5,1.3,-20.559167,-48.545,534.36,2021-01-01 03:00:00+00:00,nao chove
4,0.0,953.2,953.7,953.1,0.0,19.7,18.95,20.8,19.7,19.6,...,88.0,97.0,75.0,2.5,0.9,-20.559167,-48.545,534.36,2021-01-01 04:00:00+00:00,nao chove

In [22]:
df_csv.head()

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,...,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude,datahora,classe_chuva
0,0.0,953.7,953.7,952.5,0.0,23.2,23.10,23.7,23.0,23.1,...,87.0,99.0,291.0,4.7,0.8,-20.559167,-48.545,534.36,2021-01-01 00:00:00+00:00,nao chove
1,0.0,954.6,954.6,953.6,0.0,23.4,19.60,24.0,23.2,23.3,...,79.0,79.0,180.0,3.9,1.0,-20.559167,-48.545,534.36,2021-01-01 01:00:00+00:00,nao chove
2,0.0,954.3,954.7,954.3,0.0,21.3,19.30,23.4,21.3,19.8,...,79.0,89.0,33.0,3.6,0.4,-20.559167,-48.545,534.36,2021-01-01 02:00:00+00:00,nao chove
3,0.0,953.7,954.3,953.7,0.0,20.8,18.80,21.3,20.8,20.2,...,88.0,88.0,96.0,2.5,1.3,-20.559167,-48.545,534.36,2021-01-01 03:00:00+00:00,nao chove
4,0.0,953.2,953.7,953.1,0.0,19.7,18.95,20.8,19.7,19.6,...,88.0,97.0,75.0,2.5,0.9,-20.559167,-48.545,534.36,2021-01-01 04:00:00+00:00,nao chove

In [ ]:
df_csv.shape

In [25]:
import os
from os.path import isfile, join
from os import listdir

pathh = ('../raw_data/SP') #caminho geral
files = [f for f in listdir(pathh) if isfile(join(pathh, f))] #lista de nomes de arquivos de dados

def get_data(n_cidade):#escolher um numero de 0 a 35
    #Loop para fazer lista com os dataframes, ignorando o cabeÃ§alho
    #Criando 4 novas features a partir de infos do cabeÃ§alho
    file = []
    cidade = cidades[n_cidade]
    for i in range(0, 63):#aqui eu seleciono somente os arquivos com barreto no nome
        if cidade in files[i]:
            file.append(files[i])

    df_list = [] #aqui eu crioo dataframe soh com a cidade selecionada
    for ii in range(0, len(file)):
        df = pd.read_csv(f'{pathh}/{file[ii]}', sep=';', skiprows=8, encoding="ISO-8859-1", decimal=',')
        lat_log_alt = pd.read_csv(f'{pathh}/{file[ii]}', sep=';', skiprows=4,
                        nrows=3, encoding="ISO-8859-1", decimal=',', names=['esta_codi_lat_lon_alt','valor'])
        df['EstaÃ§ao']=file[ii].split('_')[0]
       # df['Estacao']=lat_log_alt['valor'][0]
       # df['Codigo']=lat_log_alt['valor'][1]
        df['Latitude']=lat_log_alt['valor'][0]
        df['Longitude']=lat_log_alt['valor'][1]
        df['Altitude']=lat_log_alt['valor'][2]
        df_list.append(df)
    return df_list, lat_log_alt

In [26]:
get_data(0)[1]

  esta_codi_lat_lon_alt       valor
0             LATITUDE:  -20.559167
1            LONGITUDE:  -48.545000
2             ALTITUDE:  534.360000

In [30]:
df['Altitude'] = get_data(0)[1]['valor'][2]

In [31]:
df.head()

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,Temp_orvalho_min,Umid_max,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude
0,0,945.6,945.6,945.2,-3.595,25.4,17.5,25.9,25.4,17.8,17.5,63,60,62,142,3.2,1.5,-20.94916666,-48.48999999,534.36
1,0,946.1,946.1,945.6,-3.6,25.4,16.9,25.5,25.1,17.6,16.9,63,59,59,123,3.9,1.6,-20.94916666,-48.48999999,534.36
2,0,946.1,946.2,945.9,-3.593,24.2,16.8,25.4,24.2,17,16.8,63,59,63,104,5.4,1.1,-20.94916666,-48.48999999,534.36
3,0,946,946.2,945.9,-3.399,24.1,16.8,24.4,24,16.9,16.7,64,62,64,119,3.5,1.4,-20.94916666,-48.48999999,534.36
4,0,946,946.1,946,-3.35,23.6,17.1,24.1,23.6,17.3,16.6,68,63,67,147,4,1.3,-20.94916666,-48.48999999,534.36

In [ ]:
df_csv.head()

In [ ]:
from RainPredictionMachine.data import CleanDataRpm

getdata = CleanDataRpm()

df_csv = getdata.get_data(0)

In [ ]:
df_csv[1]

In [ ]:
df['Altitude'] = get_data(0)[1]['valor'][2]

In [ ]:
df.head()

In [34]:
cidades=['BARRETOS', 'BARUERI', 'BAURU', 'BEBEDOURO', 'BERTIOGA',
        'BRAGANCA PAULISTA', 'CACHOEIRA PAULISTA', 'CAMPOS DO JORDAO',
        'CASA BRANCA', 'DRACENA', 'FRANCA', 'IGUAPE', 'ITAPEVA', 'ITAPIRA',
        'ITATIAIA', 'ITUVERAVA', 'LINS', 'MARILIA', 'OURINHOS', 'PARATI',
        'PIRACICABA', 'PRADOPOLIS', 'PRESIDENTE PRUDENTE', 'RANCHARIA',
        'SAO CARLOS', 'SAO LUIS DO PARAITINGA', 'SAO MIGUEL ARCANJO',
        'SAO PAULO - INTERLAGOS', 'SAO PAULO - MIRANTE', 'SAO SEBASTIAO',
        'SAO SIMAO', 'SOROCABA', 'TAUBATE', 'TUPA', 'VALPARAISO', 'VOTUPORANGA']

In [38]:
pathh = '/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/SP'
files = [f for f in listdir(pathh) if isfile(join(pathh, f))] #lista de nomes de arquivos de dados

In [44]:
print(files)

['INMET_SE_SP_A771_SAO PAULO - INTERLAGOS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A718_RANCHARIA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A764_BEBEDOURO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A715_SAO MIGUEL ARCANJO_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_RJ_A635_ITATIAIA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A701_SAO PAULO - MIRANTE_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A712_IGUAPE_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A765_BERTIOGA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A728_TAUBATE_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_RJ_A619_PARATI_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A747_PRADOPOLIS_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A716_OURINHOS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A739_ITAPIRA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A768_TUPA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A706_CAMPOS DO JORDAO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A705_BAURU_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A707_PRESIDENTE PRUDENTE_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A753_ITUVERAVA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A713_SOROCABA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A755_BARUERI_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A739_ITAPIRA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A728_TAUBATE_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A708_FRANCA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A740_SAO LUIS DO PARAITINGA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A718_RANCHARIA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A715_SAO MIGUEL ARCANJO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A708_FRANCA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A769_CACHOEIRA PAULISTA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A714_ITAPEVA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A734_VALPARAISO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_RJ_A635_ITATIAIA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A771_SAO PAULO - INTERLAGOS_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A768_TUPA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A727_LINS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A764_BEBEDOURO_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A762_DRACENA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A711_SAO CARLOS_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A707_PRESIDENTE PRUDENTE_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A744_BRAGANCA PAULISTA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A762_DRACENA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A729_VOTUPORANGA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A701_SAO PAULO - MIRANTE_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A763_MARILIA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A738_CASA BRANCA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A729_VOTUPORANGA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A748_BARRETOS_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A706_CAMPOS DO JORDAO_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A744_BRAGANCA PAULISTA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A747_PRADOPOLIS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A770_SAO SIMAO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A753_ITUVERAVA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A712_IGUAPE_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A767_SAO SEBASTIAO_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A714_ITAPEVA_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A734_VALPARAISO_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A705_BAURU_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A713_SOROCABA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_RJ_A619_PARATI_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A770_SAO SIMAO_01-01-2021_A_31-12-2021.CSV', 'INMET_SE_SP_A711_SAO CARLOS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A763_MARILIA_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A748_BARRETOS_01-01-2020_A_31-12-2020.CSV', 'INMET_SE_SP_A726_PIRACICABA_01-01-2020_A_31-12-2020.CSV']

In [76]:
def get_lat_lon(n_files):
        codigoestacao, altitude, estacao, lat, lon = [], [], [], [], []
        for file in range(0,n_files):
            lat_lon_alt = pd.read_csv(f'{pathh}/{files[file]}', sep=';', skiprows=4,
                             nrows=3, encoding="ISO-8859-1", decimal=',', names=['lat_lon_alt','valor'])
            est=files[file].split('_')[4]
            latt=lat_lon_alt['valor'][0]
            lonn=lat_lon_alt['valor'][1]
            alti=lat_lon_alt['valor'][2]
            codigoest=files[file].split('_')[3]
            altitude.append(alti)
            estacao.append(est)
            lat.append(latt)
            lon.append(lonn)
            codigoestacao.append(codigoest)

        return lat, lon, estacao, altitude, codigoestacao

In [77]:
alt_csv = get_lat_lon(63)

In [78]:
df_alt = pd.DataFrame(alt_csv).T

In [80]:
df_to_api = df_alt.drop_duplicates()

            0          1                       2        3     4
0  -23.724501 -46.677501  SAO PAULO - INTERLAGOS    771.0  A771
1  -22.372832  -50.97471               RANCHARIA   398.75  A718
2  -20.949167     -48.49               BEBEDOURO    790.0  A764
3  -23.851944 -48.164722      SAO MIGUEL ARCANJO   675.68  A715
4  -22.373889 -44.703056                ITATIAIA   2450.0  A635
5  -23.496294 -46.620088     SAO PAULO - MIRANTE   785.64  A701
6  -24.671667 -47.545833                  IGUAPE      2.7  A712
7  -23.844722 -46.143333                BERTIOGA      5.0  A765
8  -23.041667 -45.520833                 TAUBATE   582.26  A728
9  -23.223611 -44.726944                  PARATI      3.0  A619
10 -21.338333 -48.113889              PRADOPOLIS   540.41  A747
11    -22.949 -49.894546                OURINHOS   443.49  A716
12 -22.415062 -46.805292                 ITAPIRA   634.89  A739
13 -21.927251 -50.490251                    TUPA    498.0  A768
14 -22.750278 -45.603889        CAMPOS DO JORDAO  1662.95  A706
15 -22.358052 -49.028877                   BAURU   636.17  A705
16 -22.119867 -51.408637     PRESIDENTE PRUDENTE   431.92  A707
17 -20.359722 -47.775278               ITUVERAVA   610.58  A753
18 -23.426111 -47.585556                SOROCABA   609.33  A713
19 -23.523889 -46.869444                 BARUERI    776.5  A755
20    -22.415 -46.805278                 ITAPIRA   634.89  A739
21 -23.041668 -45.520841                 TAUBATE   582.26  A728
22 -20.584444   -47.3825                  FRANCA  1002.74  A708
23 -23.228333 -45.416944  SAO LUIS DO PARAITINGA    862.3  A740
24 -22.372778 -50.974722               RANCHARIA   398.75  A718
27 -22.688889 -45.005556      CACHOEIRA PAULISTA    586.0  A769
28 -23.981944 -48.885833                 ITAPEVA   743.33  A714
29 -21.319167 -50.930278              VALPARAISO    381.9  A734
30 -22.373944 -44.703111                ITATIAIA   2450.0  A635
33 -21.666111 -49.734722                    LINS   460.65  A727
35 -21.457778 -51.552222                 DRACENA    720.0  A762
36 -21.980353 -47.883927              SAO CARLOS   859.29  A711
38 -22.951944 -46.530556       BRAGANCA PAULISTA    891.0  A744
39 -21.457699 -51.552254                 DRACENA    720.0  A762
40 -20.403221 -49.966031             VOTUPORANGA   510.37  A729
42 -22.235222 -49.965111                 MARILIA    660.0  A763
43  -21.78056  -47.07528             CASA BRANCA   734.15  A738
44 -20.403333 -49.966111             VOTUPORANGA   510.37  A729
45 -20.559167    -48.545                BARRETOS   534.36  A748
49 -21.461111 -47.579444               SAO SIMAO    620.0  A770
51 -24.671654 -47.545896                  IGUAPE      2.7  A712
52 -23.810833   -45.4025           SAO SEBASTIAO     24.0  A767
56 -23.426035 -47.585552                SOROCABA   609.33  A713
62 -22.703056 -47.623333              PIRACICABA   566.46  A726

In [83]:
df_to_api.drop(columns=[0, 1], inplace=True)

/tmp/ipykernel_2082/2468147100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_api.drop(columns=[0, 1], inplace=True)

In [88]:
df_to_api.rename(columns={2: 'Estacao', 3: 'Altitude', 4:'CodigoEstacao'}, inplace= True)

/tmp/ipykernel_2082/3975398785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_api.rename(columns={2: 'Estacao', 3: 'Altitude', 4:'CodigoEstacao'}, inplace= True)

In [89]:
df_to_api.to_csv('/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/info_to_api.csv', index=False)