In [ ]:
def predict(pickup_datetime,
    datainitial,
    pickup_codigoestacao):
    #Pegando dados da API do INMET
    datainitial = pickup_datetime-3, vamos criar pickup_datetime
    #timedelta 3 dias date time do pandas
    url = f'https://apitempo.inmet.gov.br/estacao/{pickup_datetime}/{datafinal}/{codigoestacao}'
    response = requests.get(url).json()
    df = pd.DataFrame(response)
    df.drop(columns=['DC_NOME', 'UF', 'HR_MEDICAO', 'CD_ESTACAO', 'DT_MEDICAO', 'TEM_SEN'], inplace=True)
    df.dropna(inplace=True)
    df = df.iloc[-48:].reset_index(drop=True)
    df = df[['CHUVA', 'PRE_INS', 'PRE_MAX', 'PRE_MIN', 'RAD_GLO', 'TEM_INS', 'PTO_INS', 'TEM_MAX', 'TEM_MIN', 'PTO_MAX', 'PTO_MIN', 'UMD_MAX', 'UMD_MIN', 'UMD_INS', 'VEN_DIR', 'VEN_RAJ', 'VEN_VEL', 'VL_LATITUDE', 'VL_LONGITUDE']]
    df = df.rename(columns={'CHUVA': 'Chuva',
                                    'PRE_INS': 'Pres',
                                    'PRE_MAX': 'Pres_max',
                                    'PRE_MIN': 'Pres_min',
                                    'RAD_GLO': 'Radiacao',
                                    'TEM_INS': 'Temp',
                                    'PTO_INS': 'Temp_orvalho',
                                    'TEM_MAX': 'Temp_max',
                                    'TEM_MIN': 'Temp_min',
                                    'PTO_MAX': 'Temp_orvalho_max',
                                    'PTO_MIN': 'Temp_orvalho_min',
                                    'UMD_MAX': 'Umid_max',
                                    'UMD_MIN': 'Umid_min',
                                    'UMD_INS': 'Umid',
                                    'VEN_DIR': 'Dir_vento',
                                    'VEN_RAJ': 'Rajada_vento',
                                    'VEN_VEL': 'Vel_vento',
                                    'VL_LATITUDE': 'Latitude',
                                    'VL_LONGITUDE': 'Longitude'})
    read_csv_to_api = pd.read_csv('/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/info_to_api.csv')
    alti = read_csv_to_api[read_csv_to_api['CodigoEstacao'] == codigoestacao]['Altitude'].values[0]
    df['Altitude'] = alti
    X_test = pd.DataFrame(df)
    model = get_model('BARRETOS.joblib') #retorna um pipeline
    y_pred = model.predict(X_test)
    return {'Previsão de chuva em São Paulo': y_pred}

In [23]:
import requests
import pandas as pd

In [13]:

import datetime
hora_now = datetime.datetime.now()
dia_atual = hora_now.strftime("%Y-%m-%d")

In [15]:
dia_pas = (hora_now - datetime.timedelta(days=3)).strftime("%Y-%m-%d")

In [16]:
dia_atual

'2022-03-25'

In [17]:
dia_pas

'2022-03-22'

In [19]:
codigoestacao = 'A748'

In [24]:

url = f'https://apitempo.inmet.gov.br/estacao/{dia_pas}/{dia_atual}/{codigoestacao}'
response = requests.get(url).json()
df = pd.DataFrame(response)

In [25]:
df

,DC_NOME,PRE_INS,TEM_SEN,VL_LATITUDE,PRE_MAX,UF,RAD_GLO,PTO_INS,TEM_MIN,VL_LONGITUDE,...,PRE_MIN,UMD_MAX,VEN_VEL,PTO_MIN,TEM_MAX,VEN_RAJ,TEM_INS,UMD_INS,CD_ESTACAO,HR_MEDICAO
0,BARRETOS,953.7,23.8,-20.55916666,953.7,SP,0,19.2,21.6,-48.54499999,...,953.1,87,0.8,19,22.3,3.3,22.2,83,A748,0000
1,BARRETOS,954.3,22.6,-20.55916666,954.3,SP,0,19.2,21.4,-48.54499999,...,953.7,87,1.4,18.9,22.2,3.5,21.6,86,A748,0100
2,BARRETOS,954.6,22.5,-20.55916666,954.6,SP,0,19.2,20.6,-48.54499999,...,954.2,91,0.9,19,21.6,3.7,20.7,91,A748,0200
3,BARRETOS,954.4,21.9,-20.55916666,954.6,SP,0,18.8,20.6,-48.54499999,...,954.4,91,1.2,18.7,21,3.7,20.6,89,A748,0300
4,BARRETOS,954.2,21.5,-20.55916666,954.4,SP,0,18.7,20,-48.54499999,...,954.2,92,1.2,18.7,20.7,3.7,20.1,92,A748,0400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BARRETOS,None,None,-20.55916666,None,SP,None,None,None,-48.54499999,...,None,None,None,None,None,None,None,None,A748,1900
92,BARRETOS,None,None,-20.55916666,None,SP,None,None,None,-48.54499999,...,None,None,None,None,None,None,None,None,A748,2000
93,BARRETOS,None,None,-20.55916666,None,SP,None,None,None,-48.54499999,...,None,None,None,None,None,None,None,None,A748,2100
94,BARRETOS,None,None,-20.55916666,None,SP,None,None,None,-48.54499999,...,None,None,None,None,None,None,None,None,A748,2200
95,BARRETOS,None,None,-20.55916666,None,SP,None,None,None,-48.54499999,...,None,None,None,None,None,None,None,None,A748,2300

In [26]:
df.drop(columns=['DC_NOME', 'UF', 'HR_MEDICAO', 'CD_ESTACAO', 'DT_MEDICAO', 'TEM_SEN'], inplace=True)
df.dropna(inplace=True)
df = df.iloc[-48:].reset_index(drop=True)
df = df[['CHUVA', 'PRE_INS', 'PRE_MAX', 'PRE_MIN', 'RAD_GLO', 'TEM_INS', 'PTO_INS', 'TEM_MAX', 'TEM_MIN', 'PTO_MAX', 'PTO_MIN', 'UMD_MAX', 'UMD_MIN', 'UMD_INS', 'VEN_DIR', 'VEN_RAJ', 'VEN_VEL', 'VL_LATITUDE', 'VL_LONGITUDE']]
df = df.rename(columns={'CHUVA': 'Chuva',
                                'PRE_INS': 'Pres',
                                'PRE_MAX': 'Pres_max',
                                'PRE_MIN': 'Pres_min',
                                'RAD_GLO': 'Radiacao',
                                'TEM_INS': 'Temp',
                                'PTO_INS': 'Temp_orvalho',
                                'TEM_MAX': 'Temp_max',
                                'TEM_MIN': 'Temp_min',
                                'PTO_MAX': 'Temp_orvalho_max',
                                'PTO_MIN': 'Temp_orvalho_min',
                                'UMD_MAX': 'Umid_max',
                                'UMD_MIN': 'Umid_min',
                                'UMD_INS': 'Umid',
                                'VEN_DIR': 'Dir_vento',
                                'VEN_RAJ': 'Rajada_vento',
                                'VEN_VEL': 'Vel_vento',
                                'VL_LATITUDE': 'Latitude',
                                'VL_LONGITUDE': 'Longitude'})
read_csv_to_api = pd.read_csv('/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/info_to_api.csv')
alti = read_csv_to_api[read_csv_to_api['CodigoEstacao'] == codigoestacao]['Altitude'].values[0]
df['Altitude'] = alti

In [40]:
df = df.astype(float)

In [41]:
df.head()

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,Temp_orvalho_min,Umid_max,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude
0,0.0,955.3,955.3,954.6,71.459,23.3,18.8,23.3,18.1,19.2,17.6,97.0,76.0,76.0,119.0,2.3,0.7,-20.559167,-48.545,534.36
1,0.0,955.8,955.8,955.3,126.606,24.9,18.5,25.1,23.1,18.8,17.7,76.0,65.0,68.0,98.0,5.9,1.7,-20.559167,-48.545,534.36
2,0.0,955.7,955.8,955.5,220.797,26.9,18.3,27.5,24.9,19.7,17.7,68.0,57.0,59.0,60.0,7.1,2.1,-20.559167,-48.545,534.36
3,0.0,955.2,955.8,955.2,299.318,29.2,19.1,29.4,26.9,19.8,18.0,62.0,53.0,55.0,57.0,5.8,1.7,-20.559167,-48.545,534.36
4,0.0,954.3,955.2,954.3,334.748,30.5,20.0,30.5,28.8,20.1,18.5,56.0,50.0,54.0,52.0,5.2,1.7,-20.559167,-48.545,534.36

In [89]:
import requests
import pandas as pd
import datetime
import joblib

read_csv_to_api = pd.read_csv('/home/thamirisbrandao/code/thamirisbrandao/rain-prediction-machine/raw_data/info_to_api.csv')
codigosestacao = read_csv_to_api.CodigoEstacao.to_list()
nome_modelos = read_csv_to_api.Estacao.apply(lambda name: name.split(' ')[-1]).to_list()
codigosestacao = ['A748']
nome_modelos = ['BARRETOS']

for codigoestacao, nome_modelo in zip(codigosestacao, nome_modelos):
    #Pegando a  hora atual e diminuindo 3 antes
    hora_now = datetime.datetime.now()
    dia_atual = hora_now.strftime("%Y-%m-%d")
    dia_pas = (hora_now - datetime.timedelta(days=3)).strftime("%Y-%m-%d")

    #Request da API do INMET
    url = f'https://apitempo.inmet.gov.br/estacao/{dia_pas}/{dia_atual}/{codigoestacao}'
    response = requests.get(url).json()

    #Tratando as informações para prever com nosso modelo
    df = pd.DataFrame(response)
    dc_nome = df['DC_NOME'][0]
    df.drop(columns=['DC_NOME', 'UF', 'HR_MEDICAO', 'CD_ESTACAO', 'DT_MEDICAO', 'TEM_SEN'], inplace=True)
    df.dropna(inplace=True)
    df = df.iloc[-48:].reset_index(drop=True)
    df = df[['CHUVA', 'PRE_INS', 'PRE_MAX', 'PRE_MIN', 'RAD_GLO', 'TEM_INS', 'PTO_INS', 'TEM_MAX', 'TEM_MIN', 'PTO_MAX', 'PTO_MIN', 'UMD_MAX', 'UMD_MIN', 'UMD_INS', 'VEN_DIR', 'VEN_RAJ', 'VEN_VEL', 'VL_LATITUDE', 'VL_LONGITUDE']]
    df = df.rename(columns={'CHUVA': 'Chuva',
                                    'PRE_INS': 'Pres',
                                    'PRE_MAX': 'Pres_max',
                                    'PRE_MIN': 'Pres_min',
                                    'RAD_GLO': 'Radiacao',
                                    'TEM_INS': 'Temp',
                                    'PTO_INS': 'Temp_orvalho',
                                    'TEM_MAX': 'Temp_max',
                                    'TEM_MIN': 'Temp_min',
                                    'PTO_MAX': 'Temp_orvalho_max',
                                    'PTO_MIN': 'Temp_orvalho_min',
                                    'UMD_MAX': 'Umid_max',
                                    'UMD_MIN': 'Umid_min',
                                    'UMD_INS': 'Umid',
                                    'VEN_DIR': 'Dir_vento',
                                    'VEN_RAJ': 'Rajada_vento',
                                    'VEN_VEL': 'Vel_vento',
                                    'VL_LATITUDE': 'Latitude',
                                    'VL_LONGITUDE': 'Longitude'})
    #ajustar caminho para pegar os dados de maneira generica
    alti = read_csv_to_api[read_csv_to_api['CodigoEstacao'] == codigoestacao]['Altitude'].values[0]
    #Adicionando coluna que nao veio da API do INMET
    df['Altitude'] = alti
    df = df.astype(float)
    X_test = pd.DataFrame(df).to_numpy().reshape(1,48,20)
    model = joblib.load(f'../{nome_modelo}.joblib') #retorna um pipeline
    y_pred = model.predict(X_test)
    # Ajustando o df para ler no front end
    df_pred = pd.DataFrame(y_pred)
    df_pred['dc_nome'] = dc_nome
    df_pred['Latitude'] = df['Latitude']
    df_pred['Longitude'] = df['Longitude']

WARNING:tensorflow:5 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f6905fab550> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [90]:
df_pred

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,dc_nome,Latitude,Longitude
0,0.035365,0.020264,0.118112,0.0,0.0,0.0,0.0,0.0,0.130049,0.0,...,0.209984,0.0,0.0,0.0,0.016384,0.006836,0.0,BARRETOS,-20.559167,-48.545

In [88]:
for codigoestacao, nome_modelo in zip(codigosestacao, nome_modelos):
    print(codigoestacao)

A748

In [85]:
nome_modelos = read_csv_to_api.Estacao.apply(lambda name: name.split(' ')[-1]).to_list()

In [86]:
nome_modelos

['INTERLAGOS',
 'RANCHARIA',
 'BEBEDOURO',
 'ARCANJO',
 'ITATIAIA',
 'MIRANTE',
 'IGUAPE',
 'BERTIOGA',
 'TAUBATE',
 'PARATI',
 'PRADOPOLIS',
 'OURINHOS',
 'ITAPIRA',
 'TUPA',
 'JORDAO',
 'BAURU',
 'PRUDENTE',
 'ITUVERAVA',
 'SOROCABA',
 'BARUERI',
 'ITAPIRA',
 'TAUBATE',
 'FRANCA',
 'PARAITINGA',
 'RANCHARIA',
 'PAULISTA',
 'ITAPEVA',
 'VALPARAISO',
 'ITATIAIA',
 'LINS',
 'DRACENA',
 'CARLOS',
 'PAULISTA',
 'DRACENA',
 'VOTUPORANGA',
 'MARILIA',
 'BRANCA',
 'VOTUPORANGA',
 'BARRETOS',
 'SIMAO',
 'IGUAPE',
 'SEBASTIAO',
 'SOROCABA',
 'PIRACICABA']

In [69]:
df_pred = pd.DataFrame(y_pred)

In [70]:
dc_nome

'BARRETOS'

In [71]:
df_pred['dc_nome'] = dc_nome
df_pred['Latitude'] = df['Latitude']
df_pred['Longitude'] = df['Longitude']

In [73]:
df_pred['Latitude'] = df['Latitude']

In [74]:
df_pred['Longitude'] = df['Longitude']

In [75]:
df_pred

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,dc_nome,Latitude,Longitude
0,0.0,0.018401,0.14281,0.0,0.0,0.0,0.0,0.0,0.126055,0.0,...,0.260654,0.002661,0.0,0.0,0.0,0.06364,0.0,BARRETOS,-20.559167,-48.545